html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

html {
    color-scheme: dark light;
}

#canv {
    width: 100%;
    height: 100%;
}

/* ! Start Here */

/* 

font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;

*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

canvas {
    width: 100%;
    height: 100%;
}

ul, li, a {
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1340px;
    margin-inline: auto;
    position: relative;
    padding-inline: 10px;
}

#canv {
    position: absolute;
    z-index: -1;
}

/* Header Section */

.hero_expanded {
    height: 100vh;
    box-shadow: inset 0 0 0 1000vh rgba(0, 0, 0, 0.2);
}


@media (min-width: 50em) {
    header nav ul li a::before {
        content: '';
        background-color: #577BEF;
        position: absolute;
        height: 3px;
        width: 0;
        left: 50%;
        transform: translate(-50%, 0);
        
        top: 25px;
        transition: 0.3s;
    }

    header nav ul li a:hover:before {
        width: 120%;
    }

    header .header_container {
        position: fixed;
        width: 100%;
        transition: 300ms ease-in-out;
        z-index: 1000;
    }
    
    header .header_container:is(:hover, :focus-within) {
        background-color: #243854e4;
    }
    
    header nav ul {
        display: flex;
        gap: 100px;
        justify-content: center;
        padding-block: 1.55em;
    }
    
    header nav ul li a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        margin-inline: auto;
    }
}

/* Navigation */

header .buttony {
    display: none;
}

@media (max-width: 50em) {
    header .primary_nav {
        display: none;
        position: fixed;
        z-index: 10;
        background-color: #110736f7;
        border-radius: 15px;
        text-align: center;
        right: 0;
        margin-top: 70px;
        overflow: hidden;
    }

    header .primary_nav ul {
        display: block;
    }

    header .primary_nav ul {
        padding: 2em;
    }

    header .primary_nav li a {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.2rem;
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
        transition: 250ms ease-in-out;
        line-height: 3em;
    }

    header .primary_nav li a:is(:hover, :focus) {
        background-color: rgba(164, 164, 164, 0.647);
    }

    header .primary_nav[data-visible] {
        display: block;
        position: absolute;
    }

    header .buttony {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
        right: 0;
        position: absolute;
        top: 0; 
        font-size: 2rem;   
        z-index: 1;
    }
    
    header .buttony .close {
        display: none;
    }
}


/* Slogan Module */

.slogan_module {
    text-align: center;
}

.slogan_module .container h1 {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

.slogan_module .container h2 {
    font-size: 5rem;
    font-weight: 700;
    position: relative;
}

.slogan_module .container .line_left {
    width: 15%;
    float: left;
    height: 0.4em;
    background-color: #D9D9D9;
}

.slogan_module .container p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Martian Mono', monospace;
    padding-block-start: 0.5em;
}

.slogan_module .container .line_right {
    width: 15%;
    float: right;
    height: 0.4em;
    background-color: #D9D9D9;
}

.slogan_module .container .flex_wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: row;
    gap: 1.25em;
}

.slogan_module .container a {
    width: 25px;
    height: 40px;
    display: block;
    margin-inline: auto;
    margin-block-start: 150px;
}

.slogan_module .slogan_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

@media (max-width: 50em) {
    .slogan_module .container h1 {
        font-size: 2rem;
    }

    .slogan_module .container h2 {
        font-size: 3.2rem;
        margin-block: 1rem;
    }

    .slogan_module .container h2::before {
        content: '';
        height: 1px;
        background-color: #D9D9D9;
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .slogan_module .container h2::after {
        content: '';
        height: 1px;
        background-color: #D9D9D9;
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 0;
    }

    .slogan_module .container p {
        font-size: 1rem;
        max-width: 26em;
        text-align: center;
        margin-inline: auto;
    }

    .slogan_module .container .line_left {
        display: none;
    }

    .slogan_module .container .line_right {
        display: none;
    }

    .slogan_module .container a, .slogan_module .container a img {
        width: 30px;
        height: 45px;
    }
}

@media (max-width: 25em) {
    .slogan_module .container h1 {
        font-size: 1.25rem;
    }

    .slogan_module .container h2 {
        font-size: 2.6rem;
    }

    .slogan_module .container p {
        font-size: 0.75rem;
    }
}

@media (max-width: 80em) {
    .slogan_module .container h1 {
        font-size: 1.7rem;
    }   

    .slogan_module .container h2 {
        font-size: 3rem;
    }

    .slogan_module .container p {
        font-size: 1rem;
    }
}

@media (max-width: 52.813em) {
    .slogan_module .container h2 {
        font-size: 2.8rem;
    }
}

@media (max-width: 30.625em) {
    .slogan_module .container h1 {
        font-size: 1.4rem;
    }

    .slogan_module .container h2 {
        font-size: 2.3rem;
    }

    .slogan_module .container p {
        font-size: 0.9rem;
        max-width: 100%;
    }
}

@media (max-width: 25.625em) {
    .slogan_module .container h2 {
        font-size: 1.7rem;
    }

    .slogan_module .container h1 {
        font-size: 1.15rem;
    }

    .slogan_module .container p {
        font-size: 0.75rem;
    }
}

@media (max-width: 25.625em) {
    .slogan_module .container p {
        font-size: 0.6rem;
        max-width: 30em;
    }
}

/* About Section */

.about_module {
    padding-block: 100px;

    /* background: rgb(2,0,36);
    background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 46%, rgba(83,94,142,1) 100%); */
    background: rgb(19,30,44);
    background: linear-gradient(180deg, rgba(19,30,44,1) 0%, rgba(25,38,60,1) 50%, rgba(10,15,31,1) 100%);
}

.about_module h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
}

/* todo: biography image */

.about_module .biography_person {
    max-width: 47ch;
    margin-inline: auto;
}

.about_module .person {
    max-width: 15rem;
    margin-inline: auto;
    position: relative;
}

.about_module .circle {
    position: absolute;
    inset: auto 0 0;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
}

/* 
.about_module .person_image {
    --transform-speed: 250ms;

    position: relative;
    z-index: 1;
    width: 100%;
    transition: transform var(--transform-speed) ease;
}

.about_module .person_container:hover .person_image {
    transform: 
        scale(1.1)
        translateY(-1rem);
}

.about_module .person_container {
    --transform-speed: 250ms;

    aspect-ratio: 1 / 1.5;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    transition: transform var(--transform-speed) ease;
}

.person .person_container:hover {
    transform: scale(1.1);
} 
*/

/* ! Delete below if you want */

.person .person_image {
    border-radius: 50%;
    padding-block-start: 2em;
}

.about_module .biography .biography_text {
    white-space: pre-line;
    max-width: 50ch;
    line-height: 30.6px;
    font-weight: 400;
    font-size: 1.125rem;
    padding-inline-end: 10px;
    text-align: justify;
}

.about_module .grid_column {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

/* ! Skills */

.about_module .skills {
    margin-block-start: 130px;
}

.about_module .skills h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-block-end: 50px;
}

.about_module .skills .flex_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 43em;
}

.about_module .skills .box {
    display: block;
    background-color: #110736;
    border-radius: 10px;
    text-align: center;
    padding: 10px;

    width: 7.4em;
    font-weight: 600;
    font-size: 1.25rem;
    position: relative;

    transition: 250ms ease-in-out;
}

.about_module .skills .box:is(:hover, :focus) {
    background-color: #5AA2D7;
}

.about_module .skills .box img {
    margin-inline: auto;
}

.about_module .skills .box p {
    margin-block-start: 20px;
}

.about_module .skills .box .box_c {
    margin-block-start: 10px;
}

.about_module .skills .box .box_css {
    margin-block-start: 12px;
}

.about_module .skills .box .box_html {
    margin-block-start: 5px;
}

@media (max-width: 50em) {
    .about_module .grid_column {
        grid-template-columns: none;
        justify-content: center;
    }

    .about_module .biography{
        margin-inline: auto;
    }

    .about_module .biography .biography_text {
        padding-inline-end: 0;
        padding-inline: 1em;
        line-height: 1.8;
        text-align: center;
        max-width: 40em;
    }

    .about_module .skills {
        margin-block-start: 100px;
        margin-inline: auto;
    }
}

@media (max-width: 30.625em) {
    .about_module .biography .biography_text {
        text-align:justify;
    }
}



/* Education Section */

.education_module {
    background-color: #0A0F1F;
    padding-block: 100px;
    position: relative;
    overflow: hidden;
}

.education_module::before {
    content: '';
    position: absolute;
    width: 48.25em;
    height: 48.25em;
    border-radius: 50%;
    background-color: rgba(97, 154, 217, 0.1);
    left: 70%;
    bottom: 62%;
}

.education_module::after {
    content: '';
    position: absolute;
    width: 48.25em;
    height: 48.25em;
    border-radius: 50%;
    background-color: rgba(97, 154, 217, 0.1);
    top: 50%;
    right: 75%;
}

.education_module .educ_title {
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding-block-end: 100px;
}

.education_module .linya_with_ball {
    background: url("image/linyaWithball.png") no-repeat top / cover;
    width: 0.75em;
    height: 55.188em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.education_module .education_box .grad_cap {
    margin-inline-end: 0.5em;
}

.education_module .education_box {
    background-color: #fff;
    color: #000;
    max-width: 30.125em;
    padding: 1em;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.education_module .education_box h1 {
    font-weight: 600;
    color: #5AA2D7;
    font-size: 1.75rem;
    padding-block-end: 0.6em;
}

.education_module .education_box .grad_icon {
    color: #fff;
    background-color:#5AA2D7;
    padding: 0.3em;
    font-size: 1.5rem;
    border-radius: 50%;
}

.education_module .education_box .school_text {
    font-weight: 700;
    font-size: 1.25rem;
    color: #949494;
}

.education_module .education_box .school_location {
    color: #949494;
    font-weight: 600;
    font-size: 1rem;
    padding-block: 10px;
}

.education_module .education_box .school_date {
    display: block;
    color: #464646;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: #D9D9D9;
    padding: 5px;
    border-radius: 10px;
    max-width: 6em;
    text-align: center;
    
    transition: 200ms ease-in-out;
}

.education_module .education_box .school_date:is(:hover, :focus-within) {
    background-color: #464646;
    color: #D9D9D9;
}

.education_module .education_box .custom_width_date {
    max-width: 8em;
}

.education_module .education_box .text_area {
    max-width: 25em;
}

.education_module .education_box .custom_width {
    padding-inline-end: 140px;
}

.education_module .education_box {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

@media (max-width: 65.125em) {
    .education_module .education_box {
        max-width: 21em;
    }

    .education_module .education_box .custom_width {
        max-width: 17em;
        padding-inline-end: 0;
    }
}

@media (min-width:50em) {
    .education_module .row_template {
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        justify-content: center;
        align-items: center;
    }
    
    .education_module .push_right {
        position: relative;
        left: 25%;
    }
    
    .education_module .push_left {
        position: relative;
        right: 25%;
    }
}

@media (max-width: 50em) {
    .education_module .row_template {
        display: grid;
        gap: 6.25rem;
        justify-content: center;
        position: relative;
    }

    .education_module .push_right {
        left: 0;
    }
    
    .education_module .push_left {
        right: 0;
    }
    
    .education_module .linya_with_ball {
        background: #5AA2D7;
        position: absolute;
        bottom: 177px;
        width: 3px;
    }

    .education_module .education_box {
        max-width: 30.125em;
    }

    .education_module .education_box .custom_width {
        max-width: 17em;
        padding-inline-end: 5em;
        margin-inline-end: 50px;
    }

    .education_module .education_box .school_date {
        max-width: 8em;
        margin-inline: auto;
        margin-inline-start: 5.1em;   
    }

    .education_module .education_box .custom_width_date  {
        margin-inline-start: 0.7em;
    }

    .education_module .education_box .date1 {
        margin-inline-start: 3.95em;
    }

    .education_module .education_box {
        max-width: auto;
    }

    .education_module .education_box .text_area {
        text-align: center;
    }
}

@media (max-width: 33.125em) {
    .education_module .education_box {
        max-width: 17.125em;
    }

    .education_module .education_box .school_date {
        margin-inline: auto;
        margin-inline-start: 0;
    }

    .education_module .education_box .custom_width {
        max-width: 17em;
        padding-inline-end: 0;
        margin-inline-end: 0;
    }

    .education_module .education_box {
        justify-content: none;
    }

    .education_module #text_area {
        text-align: left;
    }
}

@media (max-width: 33.125em) {
    .education_module .linya_with_ball {
        top: 20em;
        height: 60em;
    }
}

@media (max-width: 17.313em) {
    .education_module .linya_with_ball {
        height: 85em;
    }
}

/* Work Section */

.work_module {
    background-color: #0F1730;
    padding-block: 6.25em;
}

.work_module .head {
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-block-end: 1.5em;
}

.work_module .titles {
    font-weight: 600;
    font-size: 2rem;
}

.work_module .line {
    height: 3px;
    background-color: #2C516B;
    max-width: 90%;
    margin-inline: auto;
    margin-block: 5em;
    border: 0;
}

.work_module .box {
    width: 21.875em;
    height: 18.125em;
}

.work_module .flex_wrapper {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-block-start: 2em;
    flex-wrap: wrap;
}

.work_module .show {
    text-align: center;
    font-weight: 600;
    padding-block-end: 2.35em;
    background-color: rgba(12, 12, 12, 0.949);
}

.work_module .show h1 {
    padding-block-start: 1.5em;
    font-size: 1.25rem;
}

.work_module .show p {
    white-space: pre-line;
    padding-block: 3.5em;
}

.work_module .show a {
    display: block;
    background-color: #55CB97;
    border-radius: 20px;
    max-width: 13em;
    line-height: 2.5;
    margin-inline: auto;
    color: #fff;

    transition: 350ms ease;
}

.work_module .show a:is(:hover, :focus-within) {
    color: #55CB97;
    background-color: #fff;
}

.work_module .john_cycling {
    background: url("image/works/johncyclingshop.jpg") no-repeat top / cover;
}

.work_module .coming_soon {
    background: url("image/works/coming_soon.jpg") no-repeat top / cover;
}

.work_module .java1 {
    background: url("image/works/java1.jpg") no-repeat top / cover;
}

.work_module .java2 {
    background: url("image/works/java2.jpg") no-repeat top / cover;
}

.work_module .java3 {
    background: url("image/works/java3.jpg") no-repeat top / cover;
}

.work_module .c1 {
    background: url("image/works/c1.jpg") no-repeat top / cover;
}

.work_module .c2 {
    background: url("image/works/c2.jpg") no-repeat top / cover;
}

.work_module .c3 {
    background: url("image/works/c3.jpg") no-repeat top / cover;
}

.work_module .show {
    display: none;
}

.work_module .box:is(:hover, :focus-within) > .show {
    display: block;
}

@media (min-width: 50em) {
    .work_module .john_cycling .show p {
        padding-block: 3em;
    }
}

@media (max-width: 50em) {
    .work_module .box {
        width: 16.875em;
        height: 13.125em;
    }

    .work_module .show {
        padding: 1em;
    }

    .work_module .titles {
        text-align: center;
    }

    .work_module .show h1 {
        padding-block-start: 0;
    }
    
    .work_module .show p {
        padding-block: 1.5em;
    }
    
    .work_module .show2 p {
        padding-block: 0.7em;
    }
}

/* Contact Section */

.contact_module {
    background-color: #111523;
    padding-block-start: 6.25em;
    padding-block-end: 3em;
    overflow: hidden;
    position: relative;
}

.contact_module .title {
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-block-end: 2em;
}

.contact_module::before {
    content: '';
    position: absolute;
    width: 48.25em;
    height: 48.25em;
    transform: rotate(-15deg);
    background-color: rgba(97, 154, 217, 0.1);
    bottom: 78%;
    left: 65%;
}

.contact_module::after {
    content: '';
    position: absolute;
    width: 48.25em;
    height: 48.25em;
    border-radius: 50%;
    background-color: rgba(97, 154, 217, 0.1);
    top: 50%;
    right: 70%;
}

.contact_module .text_area h1 {
    font-size: 1.875rem;
    font-weight: 700;
}

.contact_module .text_area p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 27.24px;
    padding-block-start: 2em;
}

.contact_module .text_area {
    max-width: 29em;
    margin-block-end: 17em;
}

.contact_module .fill_up_area {
    max-width: 30em;
    position: relative;
    z-index: 1;
}

.contact_module .fill_up_area .text {
    width: 100%;
    border: 0;
    margin-block: 0.6em;
    background-color: #D9D9D9;
    color: #000;
    font-weight: 600;
    padding: 1em;
    border-radius: 10px;
}

.contact_module .fill_up_area .text::placeholder {
    color: #7C7777;
    font-weight: 600;
}

#message {
    height: auto;
    resize: none;
}

.contact_module .column_template {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 8em;
}

.contact_module .fill_up_area .button {
    border: 0;
    font-weight: 600;
    color: #fff;
    background-color: #41A6E7;
    cursor: pointer;
    display: block;
    padding: 0.25em 1.2em;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-block-start: 1em;
    margin-inline-start: auto;

    transition: 300ms ease-in-out;
}

.contact_module .fill_up_area .button:is(:hover, :focus-within) {
    background-color: #fff;
    color: #41A6E7;
}

@media (max-width: 50em) {
    .contact_module .text_area {
        text-align: center;
        margin-block-end: 0;
    }

    .contact_module .text_area h1 {
        font-size: 2rem;
    }
    
    .contact_module .column_template {
        grid-template-columns: none;
        gap: 2.5em;
    }

    .contact_module .fill_up_area .button {
        margin-inline: auto;
        padding: 0.6em 1em;
        margin-block-end: 4em;
    }

}

@media (max-width: 68.125em) {
    .contact_module .fill_up_area {
        max-width: auto;
    }

    .contact_module .column_template {
        gap: 1em;
    }
}

@media (max-width: 33.75em) {
    .contact_module .column_template {
        margin-inline: 1em;
    }

}

/* Footer Section */

footer {
    background-color: #0A0F1F;
}

footer i {
    font-size: 1.8rem;
    color: #fff;
}

footer .upp {
    display: block;
    position: relative;
    bottom: 2em;
    max-width: 3.4em;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
}

footer .up {
    font-size: 1.8rem;
    background-color: #55CB97;
    padding: 0.5em;
    border-radius: 50%;

    transition: 350ms ease-in-out;
}

footer .up:is(:hover, :focus-within) {
    color: #55CB97;
    background-color: #fff;
}

footer .flex_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-block: 2em;
}

footer .flex_wrapper a i {
    background-color: #1C384A;
    padding: 0.3em;
    border-radius: 5px;
}

footer .flex_wrapper a i:is(:hover, :focus-within) {
    background-color: rgba(210, 215, 219, 0.3);
}

footer .flex_wrapper .linked_in {
    padding: 0.3em 0.41em;
}

footer .flex_wrapper .facebook {
    padding: 0.3em 0.51em;
}

footer .copyright {
    font-weight: 600;
    font-size: 0.75rem;
    text-align: center;
    padding-block-end: 2em;
}

@media (max-width: 50em) {
    footer .flex_wrapper {
        margin-block-start: 1em;
    }
    
    footer .up {
        font-size: 1.5rem;
    }

    footer .upp {
        bottom: 1.5em;
        max-width: 2.75em;
    }
    
    footer .flex_wrapper a i {
        font-size: 1.35rem;
    }

    footer .copyright {
        font-size: 0.6rem;
    }
}

/* For small laptop */

@media (min-width: 80em) {
    .slogan_module .container h1 {
        font-size: 1.7rem;
    }
    
    .slogan_module .container h2 {
        font-size: 4.7rem;
    }

    .slogan_module .container p {
        font-size: 0.9rem;
    }

}

@media (min-width: 50em) {
    .container {
        padding-inline: 2em;
    }
}